<h1>Payment Details</h1>
<table border="1">
    <thead>
        <tr>
            <th>Payment ID</th>
            <th>Order ID</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Payment Method</th>
            <th>Payment Date</th>
        </tr>
    </thead>
    <tbody>
        {% for payment in payments %}
            <tr>
                <td>{{ payment.payment_id }}</td>
                <td>{{ payment.order_id }}</td>
                <td>{{ payment.amount }}</td>
                <td>{{ payment.transaction_status }}</td>
                <td>{{ payment.payment_method }}</td>
                <td>{{ payment.payment_date }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
